    .wrapper{
        margin: 0;
        padding: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0;
        align-items: center;
    }
    .wrapper2{
      margin: 0;
      padding: 0;
      border-radius: 0;
      align-items: center;
      display: flex;
      height: 70;
    }
    .headerText{
        align-items: center;
        color: black;
        font-size: 35px;
        font-weight: bold; 
        margin-left: 15%;
        width: 150px;  
        line-height : 2;
    }

    .Button{
      align-items: center;
      color: white;
      font-Size: 35px;
      font-weight: bold;
      width: 300px;
      margin-left: 160px;
      background-color: rgb(0, 48, 73);
      line-height : 2;
      text-align: center;
    }
  
    .Button:hover{
        background-color:#C1121F;
    } 
    .Button:active{
        background-color:#C1121F;
    }

    div::-webkit-scrollbar {
        width: 80px;  /* 스크롤바의 너비 */
    }
    
    div::-webkit-scrollbar-thumb {
        height: 50%; /* 스크롤바의 길이 */
        background: rgb(0, 48, 73); /* 스크롤바의 색상 */
        border-radius: 20px;
    }
    
    div::-webkit-scrollbar-track {
        background: "white"; /*스크롤바 뒷 배경 색상*/
    }