.btnSP {
    width: 45%;
    height: 95%;
    background: #66cbff;
    color: #fafafa;
    display: block;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 0.75em 0 #63a7ee, 0 1.25em 0 0.35em #c9e8e3;
    text-align: center;
    padding: 0.5em 0.5em 0.5em;
    position: relative;
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  .btnSP:hover, .btn:focus {
    -webkit-transition: all .25s;
    transition: all .25s;
    background: #fafafa;
    color: #66cbff;
    box-shadow: 0 0.75em 0 #c2c2c2, 0 1.25em 0 0.35em #c9e8e3;
  }
  .btnSP:active {
    box-shadow: 0 0 0 0.35em #c9e8e3;
    -webkit-transform: translate(0, 1.25em);
            transform: translate(0, 1.25em);
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  
  .top {
    font-size: 0.8em;
    letter-spacing: .08em;
  }
  
  .btm {
    font-size: 1.5em;
  }
  
  .btn span{
    display: block;
  }